@(post: Post, commentForm: Form[Comment])

@import helper._

@main("BlogPost") {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

@navbar()


<div class="container">
    <div class="hero-unit">
        <h3>@post.title</h3>
        <a href="@routes.Assets.at(post.imageUrl)" target="_blank"><img src="@routes.Assets.at(post.imageUrl)" alt="blog image" width="400" height="400"></a>
        <p>@post.content</p>
    </div>
    @for(comment <- post.comments) {
        <p>@comment.postedAt -> @comment.content</p>
    }

    <h3>Add a new comment</h3>

    @form(routes.Application.newComment(post.id)) {
    @inputText(commentForm("content"))

    <input type="submit" value="Comment">
    }
</div>
}