@(posts: List[Post], postForm: Form[Post])

@import helper._

@main("BlogPosts") {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

@navbar()

<div class="container">
    <div class="hero-unit">
        @if(posts.isEmpty()) {
            <h2>No posts :(</h2>
        }
        @for(post <- posts) {
            <h3><a href=@routes.Application.showPost(post.id)>@post.title</a></h3>
        <a href="@routes.Application.showPost(post.id)"><img src="@routes.Assets.at(post.imageUrl)" alt="blog image" width="100" height="100"></a>
            <p>@post.content</p>

            <p>@post.comments.size() comments</p>

            @form(routes.Application.deletePost(post.id)) {
                <input class="span2" type="submit" value="Delete post">
            }
        }
    </div>
</div>
<div class="container">
    <h2>Add a new post</h2>

    @form(routes.Application.newPost(), 'enctype -> "multipart/form-data") {
        <input type="file" name="picture">
        @inputText(postForm("Title"))
        @inputText(postForm("Content"))

        <input type="submit" value="Post">
    }
</div>
}