<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">My little blog</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <!--<li class="active"><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>-->
                    <li><a href="mailto:anders.emil.salvesen@@visma.com?Subject=Lulz">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>